.navbutton{
    background-color: greenyellow;
    padding: 11px 25px;
    width: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.navbutton a{
    text-decoration: none;
}

/* This rule turns off the drop-down when not hovered */
.dropdown-box{
    display: none;
    position: absolute;
    z-index: 100;
    padding-top: 12px;
    margin-left: -25px;
}

/* This rule turns the drop-down menu on during hover */
.navbutton:hover .dropdown-box{
    display: block;
}

.dropdown-box .navbutton{
    background-color: cadetblue;
}
.dropdown-box .navbutton:hover{
    background-color: rgb(11, 70, 72);
    transition-duration: 0.5s;
}